@{
    ViewData["Title"] = "Faça Login";
}

@model Users

<body style="background-color: black;" class="text-center">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-12 offset-md-3">

                <form method="post" asp-action="Login" asp-controller="Home" class="form-signin mt-5">

                    <img class="img-fluid w-100" src="../images/logoWr.png" alt="Imagem Logo tela de Login"
                    width="400" height="180">

                    <h1 class="mb-4 mr-3 font-weight-200">Bem - Vindos a Killar!</h1>

                    <label asp-for="LoginName" class="sr-only">Nick Name</label>

                    <input asp-for="LoginName" name="login" type="text" class="form-control mb-3"
                    placeholder="Login Name" required autofocus>

                    <label asp-for="CheckedPassword" class="sr-only">Password</label>

                    <input asp-for="CheckedPassword" name="password" type="password" class="form-control mb-3"
                    placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Log in</button>

                </form>

                <p class="text-danger mt-3">@ViewData["ErrorLogin"]</p>

                <p style="color: #fff; font-weight: bold;">Não tem uma conta? <a asp-controller="Users" asp-action=RegisterUser> Cadastre-se agora mesmo!</a>
                </p>

            </div>

        </div>

    </div>

</body>