* {
  font-family: "fantasy";
}

:root {
  --mainBlue: #007bff;
  --mainWhite: #fff;
  --blackShadow: rgba(0, 0, 0, 0.626);
  --mainGrey: rgb(130, 129, 129);
  --buttonShadow: #ffffffde;
  --buttonPrevNextBackground: #292727;
  --mainBlueOpacity: #007bff88;
  --mainBlueOpacityTextArea: #007bff53;
  --mainYellow: rgb(227, 191, 49);
  --mainBlueModal: #3590f1;
  --greyComunity1: #232526;
  --greyComunity2: #414345;
  --postColor: #7a828b;
}

.community {
  margin-top: 80px;
}

.community hr {
  background-color: var(--mainBlue);
}

.comunity-container {
  border-top: 1px solid var(--mainBlue);
  border-bottom: 5px solid var(--mainBlue);
  border-right: 1px solid var(--mainBlue);
  border-left: 20px solid var(--mainBlue);
  border-radius: 15px;
  margin-top: 5%;
  padding: 20px;
}

.article {
  background-color: var(--mainWhite);
  border-top: 20px solid var(--mainBlue);
  border-bottom: 1px solid var(--mainBlue);
  border-right: 3px solid var(--mainBlue);
  border-left: 1px solid var(--mainBlue);
  border-radius: 15px;
  padding: 15px;
}

.comment-view {
  border: 1px solid var(--mainBlue);
  border-radius: 15px;
  padding: 10px;
}

.btn-cad {
  box-shadow: var(--blackShadow) -2px 2px 5px;
  background: none;
  background-color: transparent;
  font-weight: bold;
}

.comment-view h4 {
  color: var(--mainWhite);
  font-size: 16px;
}

.form-comment {
  padding: 10px;
}

.button-comment {
  display: flex;
}

.content-comment p {
  color: var(--blackShadow);
  font-size: 18px;
}

.comunity-main {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.post-author {
  color: var(--postColor);
  font-size: 22px;
  font-weight: bold;
}

.post-date {
  color: var(--mainYellow);
  font-style: italic;
  margin-left: 10px;
  font-size: 16px;
}

.post-content {
  color: var(--greyComunity1);
  font-size: 18px;
}

.jumbotron {
  background-image: url("../images/mario-champ3.jpg");
  box-shadow: var(--blackShadow) -2px 10px 8px;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-textarea {
  background-color: var(--mainBlueOpacity);
  border: 15px double var(--mainBlue);
  border-radius: 15px;
  box-shadow: var(--mainGrey) -5px 5px 5px;
  padding: 10px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  color: var(--mainWhite);
  font-size: 18px;
  letter-spacing: 1px;
}

.post-textarea::placeholder {
  font-size: 40px;
  text-align: center;
  color: var(--mainWhite);
  padding: 100px;
  text-shadow: var(--mainWhite) -2px 2px 5px;
}

.post-textarea:focus {
  background-color: var(--mainBlueOpacityTextArea);
  color: var(--mainWhite);
  padding: 10px;
}

.but-post {
  width: 35%;
  font-weight: bold;
  box-shadow: var(--blackShadow) -2px 10px 8px;
}

.but {
  margin-left: 5%;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 990px) {
}

@media (max-width: 768px) {
  .article {
    margin-left: 0;
  }

  .comment-view {
    margin-left: 0;
  }

  .but-post {
    width: 48%;
    font-size: 15px;
  }

  .post-textarea::placeholder {
    font-size: 25px;
  }

  .post-author {
    font-size: 20px;
  }

  .post-date {
    font-size: 13px;
  }

  .post-content p {
    font-size: 13px;
  }

  .comunity-container {
    border: none;
    padding: 0;
  }

}

@media (max-width: 576px) {
  .article {
    margin-left: 0;
  }

  .comment-view {
    margin-left: 0;
  }

  .but-post {
    width: 48%;
    font-size: 15px;
  }

  .post-textarea::placeholder {
    width: 190px;
    font-size: 30px;
    text-align: center;
  }

  .post-author {
    font-size: 20px;
  }

  .post-date {
    font-size: 13px;
  }

  .post-content p {
    font-size: 13px;
  }

  .comunity-container {
    border: none;
    padding: 0;
  }

}
