@using Microsoft.AspNetCore.Http;

@model int

<!-- Formulário de cadastro de comentários, foi utilizado uma PartialView -->

<form asp-action="RegisterComment" asp-controller="Comments" method="POST" class="form-comment">

    <Input class="form-control btn-block" type="text" name="Content" placeholder="Digite seu Comentário" required />

    <div class="button-comment">

        <input class="btn btn-md btn-outline-primary btn-cad mt-3 mr-3" type="submit" value="Comentar" />
        <!-- Botão de submit para comentar -->

        <input type="button" class="btn btn-md btn-cad btn-outline-primary mt-3" data-toggle="modal"
            data-target="#exampleModalCenter-@Model" value="Comentários" />
        <!-- Botão que aciona modal presente em Comunity -->

    </div>

    <input class="form-control btn-block" type="hidden" name="PostsId" value="@Model" />

    <input class="form-control btn-block" type="hidden" name="UsersId" value=@Context.Session.GetInt32("IdUser")
        asp-for="@Model" />

    <input class="form-control btn-block" type="hidden" name="Author" value=@Context.Session.GetString("login")
        required />

</form>