@model ICollection<Comments>

@foreach (Comments c in Model)
{

    <div class="col-md-12 comment-container">

        <div class="row comment-head">

            <h5 class="ml-2"><b>feito por: @c.Author.ToUpper()</b> -</h5>

            <span class="post-date">@c.CommentDate.ToString("dd/MM/yyyy")</span>

        </div>

        <div class="text-justify  content-comment">

            <p class="">@c.Content</p>

        </div>

        <hr class="mb-4">

    </div>

}