@model ICollection<Comments>

@foreach (Comments c in Model)
{

    <div class="row comment-container">

        <h5 class="ml-3 mr-3">@c.Author </h5>

        <span class="post-date ml-3 mr-3">@c.CommentDate.ToString("dd/MM/yy HH:mm")</span>

    </div>

    <div class="text-justify  body-comment p-1">

        <p class="ml-3 mr-3">@c.Content</p>

    </div>

    <hr class="mb-4">

}