@model Users;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Excluir Usuário";
}

<div class="container-fluid">

    @if (Context.Session.GetInt32("type") == 0)
    {
        <p class="text-justify">Tem certeza que deseja excluir o usuário: <b>@Model.Name</b> ? Essa ação
            excluirá a conta de forma permanente, e não poderá ser desfeita.
        </p>
    }else {
        <p class="text-justify"> <b>@Model.Name</b> Tem certeza que deseja excluir sua conta ? Essa ação
            excluirá a conta de forma permanente e não poderá ser desfeita.
        </p>
    }

    <hr>

    <form asp-action="UserDelete" asp-controller="Users" method="post">

        <input type="hidden" asp-for="Id">

        <button class="btn btn-outline-primary btn-md mt-3" name="decision" type="submit" value="Delete"><i
        class="fa-solid fa-trash"></i> Excluir</button>

        <button class="btn btn-outline-primary btn-md mt-3" name="decision" type="submit" value="Cancel"><i
        class="fa-solid fa-rotate-left"></i> Cancelar</button>

    </form>

</div>
