@using Microsoft.AspNetCore.Http;
@using System;
@model Posts

@{
    ViewData["Title"] = "Crie Sua Postagem";

    var postDate = DateTime.Now;
    var postAuthor = Context.Session.GetString("login");

}

<body class="text-center comunity-main p-4 mt-5">

    <main role="main" class="body-post img-fluid">

        <div class="row justify-content-md-center">

            <div class="jumbotron col-md-6 col-lg-6 col-sm-12">

                <div class="">

                    <form id="frmCadastro" asp-controller="Posts" asp-action="PostEdit" method="post">

                        <p>

                            <input value="@postDate" class="form-control btn-block" type="hidden" asp-for="PostDate" />
                            <input value="@postAuthor" class="form-control btn-block" type="hidden" asp-for="Author" />

                        </p>

                        <p>
                            <textarea class="form-control btn-block post-textarea" placeholder="O que te passas no Rift??" asp-for="Content"
                                cols="40" rows="13" required></textarea>
                        </p>

                        <input value=@Context.Session.GetInt32("IdUser") type="hidden" asp-for="UsersId">
                        <input type="hidden" name="Id" asp-for="Id">
                        <input type="hidden" name="UsersId" asp-for="UsersId">

                        <p class="text-danger mt-3">@ViewData["messagePost"]</p>
                        <p class="text-danger mt-3">@ViewData["messagePostError"]</p>

                        <button class="btn btn-outline-primary btn-lg mt-3 but-post"  type="submit">Salvar Alterações</button>

                    </form>

                </div>

            </div>

        </div>

    </main>

</body>
